DO
$$
BEGIN
   IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${PG_INTERNAL_USER}') THEN
      EXECUTE format('CREATE ROLE %I LOGIN PASSWORD %L', '${PG_INTERNAL_USER}', '${PG_INTERNAL_PASSWORD}');
   END IF;

   IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${PG_EXTERNAL_USER}') THEN
      EXECUTE format('CREATE ROLE %I LOGIN PASSWORD %L', '${PG_EXTERNAL_USER}', '${PG_EXTERNAL_PASSWORD}');
   END IF;
END
$$;

GRANT CONNECT ON DATABASE ${PG_DB_NAME} TO ${PG_INTERNAL_USER};
GRANT CONNECT ON DATABASE ${PG_DB_NAME} TO ${PG_EXTERNAL_USER};

\connect ${PG_DB_NAME}

GRANT USAGE ON SCHEMA public TO ${PG_INTERNAL_USER};
GRANT USAGE ON SCHEMA public TO ${PG_EXTERNAL_USER};

GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO ${PG_INTERNAL_USER};
GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO ${PG_EXTERNAL_USER};

GRANT USAGE, SELECT, UPDATE ON ALL SEQUENCES IN SCHEMA public TO ${PG_INTERNAL_USER};
GRANT USAGE, SELECT, UPDATE ON ALL SEQUENCES IN SCHEMA public TO ${PG_EXTERNAL_USER};

ALTER DEFAULT PRIVILEGES IN SCHEMA public
GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO ${PG_INTERNAL_USER};

ALTER DEFAULT PRIVILEGES IN SCHEMA public
GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO ${PG_EXTERNAL_USER};

ALTER DEFAULT PRIVILEGES IN SCHEMA public
GRANT USAGE, SELECT, UPDATE ON SEQUENCES TO ${PG_INTERNAL_USER};

ALTER DEFAULT PRIVILEGES IN SCHEMA public
GRANT USAGE, SELECT, UPDATE ON SEQUENCES TO ${PG_EXTERNAL_USER};
