DOCKER_NETWORK_NAME=sz-network

# PostgreSQL mode: internal | external
PG_MODE=internal

# internal mode: 127.0.0.1:5432
# external mode: 5432
PG_PORT=127.0.0.1:5432

PG_CONTAINER_NAME=postgres18
PG_IMAGE=postgres:18.3

PG_SUPER_USER=postgres
PG_SUPER_PASSWORD=Yanfa2025@Sz

PG_DB_NAME=sz_admin_preview

PG_INTERNAL_USER=sz_admin_preview_user_in
PG_INTERNAL_PASSWORD=Yanfa2025@Sz123456

PG_EXTERNAL_USER=sz_admin_preview_user_out
PG_EXTERNAL_PASSWORD=Yanfa2025@Szo123456

# external mode only
PG_EXTERNAL_CIDR=203.0.113.10/32

# Optional: if empty, setup.sh auto detects docker network subnet
PG_INTERNAL_SUBNET=
